* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* THE CSS WAS REFORMATED, CHANGUING THE ORDER TO FOLLOW THE HTML STRUCTURE, AND UNNECESARY TAGS WERE DELETED. */
body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

/* NAV ADDED TO SPECIFY TOP CONTENT */

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav li {
    display: inline-block;
    margin-left: 25px;
}

/* ADDING A HOVER EFFECT FOR THE NAV ELEMENTS TO GET A BETTER VISUAL RESULT  */

a {
    color: #ffffff;
    text-decoration: none;
    transition: .3s ease-in-out;
}

a:hover {
    box-shadow: inset 280px 0 #54b3d6;
    color: #ffffff;
}

.main-img {
    height: auto;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* ADDED MAIN AS A GENERAL CONTAINER FOR THE MAIN ARTICLES OF WEBSITE */

main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* ARTCICLE HAS BEEN ADDED, WITH SOME EXTRA ATTRIBUTES LIKE RADIUS AND HOVER */

article {
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

article:hover {
    background-color: #2589bd;
}

/* HEADERS AND P WERE MERGED AS 1 TO MAINTAIN THE CODE CLEANER */

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

p {
    font-size: 20px;
}

article img {
    max-height: 200px;
    border-radius: 10px;
    float: right;
    margin-left: 25px;
}

article .img-left {
    max-height: 200px;
    border-radius: 10px;
    margin-left: 0;
    margin-right: 25px;
    float: left;
}

/* JUSTYFIED TEXT TO THE CENTER, SEPARATED TEXT FROM MAIN ARTICLE, BETTER VISUALS, SIMPLYFIED THE CODE REMOVING UNECESSARY OR EXTRA CSS TAGS, A FLEXBOX WAS USED TO MERGE MULTIPLE TAGS INTO ONE */
aside {
    display: flexbox;
    border-radius: 15px;
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: #2589bd;
    color: #ffffff;
}

aside p {
    font-size: 16px;
}

aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* GIVING A FLEX-DIRECTION COLUMN TO MAINTAIN THE VERTICAL ASIDE ROW ON THE RIGHT */
aside section {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 18px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
